<!-- views/state1.html -->

<div class="banner-container top">
	<h1>Frequently Asked Questions</h1>
	<div class="faq-container">
		<div class="faq-question">
			<h1>Where Will You Send Me?</h1>
			<p>Every destination is within a 3 hour drive. No flights. We want to create great travel experiences that are easy, affordable and don’t need to be planned months in advance.</p>
		</div>
		<div class="faq-question">
			<h1>Can I pick where I go and what I do?</h1>
			<p>Picking where to go, where to stay and what to do requires lots of time and research. We don’t want you to research. That’s what we do. Your job is to show up and explore.</p>
		</div>
		<div class="faq-question">
			<h1>What’s included in the trip?</h1>
			<p>Accommodations for two nights, at least one prepaid activity and a detailed itinerary full of the best things to do, see and eat.</p>
		</div>
		<div class="faq-question">
			<h1>What are the differences between Standard and Luxury trips?</h1>
			<p>Standard trips include 3-4 star accommodations while Luxury trips include 5 star accommodations.</p>
		</div>
		<div class="faq-question">
			<h1>How far in advance should I book?</h1>
			<p>In order to make this the most convenient travel experience possible, right now we require trips to be booked at least 1 week in advance.</p>
		</div>
		<div class="faq-question">
			<h1>What if I’ve been somewhere and don’t want to go again?</h1>
			<p>We’ll collect that information up front when you’re sharing details for your trip. If there are specific places you don’t want to go, just let us know.</p>
		</div>
		<div class="faq-question">
			<h1>Can I travel alone?</h1>
			<p>Of course! Solo travel is increasing in popularity as a way to disconnect, recharge, reflect or just try something new!</p>
		</div>
		<div class="faq-question">
			<h1>Why Should I Do This?</h1>
			<p>“Tourists don't know where they've been, travellers don't know where they're going.” - Paul Theroux</p>
			<p>Bolt is an experience. If you want to go to Italy, go book your trip to Italy. We believe travel isn’t always about the places you go but about the experiences you have. Let us show you.</p>
		</div>
	</div>
</div>


<div class="other">
	<div ui-view></div>
</div>
