<!-- views/state1.html -->

<div class="banner-container top">
	<h1>Frequently Asked Questions</h1>
	<div class="faq-container">
		<div class="faq-question">
			<h1>Why Can’t I Pick Where I Want To Go?</h1>
			<span>Picking where to go often requires lots of time researching. We don’t want you to research. That’s what we do. Your job is to go explore and have a blast!</span>
		</div>
		<div class="faq-question">
			<h1>Where Will You Send Me?</h1>
			<span>Every destination is within a 3 hour drive. No flights. We want this to be easy and affordable. No TSA!</span>
		</div>
		<div class="faq-question">
			<h1>Why Should I Do This?</h1>
			<span>“Tourists don't know where they've been, travellers don't know where they're going.” - Paul Theroux</span>
			<span>Bolt is an experience. If you want to go to Italy, go book your trip to Italy. We believe travel isn’t always about the places you go but about the experiences you have. Let us show you.</span>
		</div>
	</div>
</div>


<div class="other">
	<div ui-view></div>
</div>
