<!-- views/state1.html -->

<div class="full-page-header">
	<div class="layer full-page-tint">
		<h1>The Easiest Trip You’ve Ever Booked</h1>
		<span>Preplanned local weekend getaways. Enjoy the adventure.</span>
		<div class="email-form">
			<input class="email-input" placeholder="Signup for early access..."></input>
			<button class="email-button"></button>
		</div>
	</div>
</div>

<div class="banner-container">
	<h1>How it Works</h1>
	<p>We believe travel should be an adventure.</p>
	<div class="row">
		<div class="grid-full">
			<div class="pitch-box">
					<img ng-src="../assets/customize-trip.png">
					<h1>You Pick</h1>
					<p>Choose your dates and give us a few details so we can curate the best trip possible for you</p>
			</div>
			<div class="pitch-box">
					<img ng-src="../assets/itinerary.png">
					<h1>We Book</h1>
					<p>One week before departure we will email you all your trip details and a suggested itinerary</p>
			</div>
			<div class="pitch-box">
					<img ng-src="../assets/hit-road.png">
					<h1>You Bolt</h1>
					<p>Pack up and hit the road. All the details are covered so it’s time for your adventure</p>
			</div>
		</div>
	</div>
</div>


<div class="other">
	<div ui-view></div>
</div>
