<!-- views/state1.html -->

<div class="banner-container top">
	<h1>Our Story</h1>
	<div class="faq-container">
		<div class="faq-question">
<p>There are more choices than ever when it comes to travel. Where to go, where to stay, what to do, where to eat, the list goes on. More choices means more time. Time researching, reading reviews, planning, coordinating, booking. Some people like to plan every last detail of their trip. We don’t.</p>

<p>We believe there’s a better way. An easier way. Bolt is a modern hospitality brand built on convenience. Our goal is to provide you with the easiest trip you’ve ever booked. </p>

<p>We want to make your next adventure a click away.</p>
		</div>
	</div>
</div>


<div class="other">
	<div ui-view></div>
</div>
