<!-- views/state1.html -->

<div class="banner-container top">
	<h1>Why Bolt</h1>
	<div class="faq-container">
		<div class="faq-question">
			<p>We believe that travel is less about where you go, and more about what you experience when you’re there.</p>
			<p>We believe in exploration.</p>
			<p>We believe great travel experiences don’t need to be expensive, time-consuming and planned far in advance.</p>
			<p>We believe in adventure.</p>
			<p>We believe that options can be overwhelming and the less research you do, the more you’ll appreciate what you do when you’re there.</p>
			<p>We believe there are hidden getaways everywhere.</p>
			<p>We believe if you Bolt once, you’ll Bolt again.</p>
		</div>
	</div>
</div>


<div class="other">
	<div ui-view></div>
</div>
