body {
	margin: 0px;
	font-family: 'Open Sans', arial, sans-serif;
	background-color: #f9f9f9;
	text-align: center;
	width: 100%;
}

a {
	text-decoration: none;
}

/* NAV BAR */

nav {
	z-index: 2;
	width: 100%;
	position: fixed;
	height: 50px;
	background-color: #4c90ff;
	/*border-bottom: 1px solid #e5e5e5;*/
	margin-top: 0px;
}

nav h1 {
	margin: 0px;
	font-weight: 300;
	font-size: 28px;
	padding-top: 6px;
}

.logo-container {
	width: 300px;
	text-align: center;
	margin: 0px auto;
	float: left;
}

.logo-container h1 {
	/*width: 125px;*/
    height: 36px;
    float: left;
    display: block;
    margin-top: 4px;
    color: #f9f9f9;
    /* background-color: #52A8B7; */
    font-weight: 500;
    font-size: 24px;
    padding-top: 4px;
}

.logo-container img {
	width: 48px;
	float: left;
}

.logo-icon {
	margin: 15px 20px 0px;
	float: left;
	width: 25px;
}

.nav-container {
	float: right;
	text-align: center;
	margin: 0px 15px;
}

.nav-container a {
	transition: .35s linear;
    padding: 0 10px;
    font-weight: 500;
    line-height: 52px;
    color: #f9f9f9;
    text-align: right;
}


/* Home Page */

.full-page-header {
	width: 100%;
	height: 100%;
	margin: 0px auto;
	padding-top: 50px;
	/*padding-bottom: 150px;*/
	background: #4c90ffff url(../assets/getaway.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.full-page-tint {
	padding: 40px 0px 160px;
}

.full-page-header h1 {
	color: #4c90ffff;
	letter-spacing: 1.5px;
	font-size: 3.2em;
	margin: 0px;
	padding: 10px 0px;
}

.full-page-header span {
	font-size: 1.8em;
	color: #000000;
	font-weight: 300;
	margin: 1% 0 2%;
}

.layer {
	background-color: rgba(238, 238, 238, 0.1);
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*** EMAIL INPUT BOX ***/
.email-form {
  width: 500px;
  height: 80px;
  margin: 25px auto;
  background: #fff;
  border: 1px solid #DcDcDc;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 50px;
}

.email-input-wrapper {
  height: 100%;
  background-color: white;
}

.email-input {
  border: 0;
  width: 80%;
  height: 100%;
  font-size: 1.5em;
  font-weight: 100;
  padding-left: 10px;
}

.email-input:focus {
  outline: none;
  transition: 0.25s;
}

.email-form .email-input:focus::-webkit-input-placeholder{
    color: #fff;
    -webkit-transition: .25s;
    transition: .25s;
  }

.email-button {
  float: right;
  width: 70px;
  height: 100%;
  border: 1px solid #2C8190;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25), inset 0 1px 1px rgba(255,255,255,0.5);
  background: #4c90ff url(../assets/mail-icon.svg) no-repeat center center;
}

.email-button:hover {
  background-color: #3884ff;
}

@media (max-width: 700px) {
  .email-form {
    width: 85%;
    height: 70px;
    margin: 15px auto;
  }

  .email-input {
    font-size: 1.1em;
  }

  .email-button {
    width: 65px;
  }
}

@media (max-width: 450px) {
  .email-form {
    width: 100%;
    height: 60px;
    margin: 15px auto;
  }

  .email-input {
    font-size: 1.0em;
    width: 75%;
    padding-left: 2px;
  }

  .email-button {
    width: 55px;
  }
}

.banner-container {
	width: 100%;
	margin: 0px auto;
	padding: 20px 0px;
	background-color: #f4f4f4;
}

.top {
	padding-top: 60px;
}

.banner-container h1 {
	color: #465058;
    letter-spacing: 1.5px;
    line-height: 1.2;
    font-size: 36px;
    margin: 15px 0px 10px;
    width: 100%;
}

.banner-container span {
    margin: 1% 0 2%;
    font-weight: 300;
    font-size: 1.4em;
}

.alternate {
	background-color: #fff;
}

.pitch-box {
    /*background-color: #f4f4f4;*/
    /*border-radius: 5px;*/
    padding: 0 1%;
    width: 31.33333%;
    /*margin: 0% 1%;*/
    /*box-shadow: 0px 2px 4px rgba(0,0,0,0.1);*/
    height: 285px;
    float: left;
}


.footer {
	/*padding: 60px 60px 20px;*/
    float: left;
    width: 90%;
    position: absolute;
    padding: 1% 5% 3%;
    border-top: 5px solid #4c90ffff;
}

.footer-link {
    text-align: left;
    float: left;
    font-size: 18px;
    font-weight: 300;
    padding-right: 4%;
    text-decoration: none;
}

.footer-link a {
	color: #5FB6E1;
	text-decoration: none;
}

.social-icons {
	float: right;
}

.social-icons svg {
	float: left;
	height: 22px; 
	width: 22px; 
	display: block; 
	margin: 1px 10px;
	fill: rgb(118, 118, 118);
}

.row {
	margin: 0;
	overflow: auto;
	/*max-width: 1280px;*/
}

.grid-full {
	width: 100%;
	float: left;
	overflow: auto;
	padding-top: 30px;
}

.disclaimer {
	color: #B1B9C1;
	text-align: left;
    font-size: 14px;
    margin-bottom: 0;
    float: left;
}

.made-in-chicago {
	float: right;
	font-size: 18px;
	font-weight: 500;
	color: rgb(118, 118, 118);
}

.made-in-chicago img {
	width: 16px;
}




.faq-container {
	padding: 1% 5%;
}

.faq-question {
	padding: 1% 5%;
	text-align: left;
}

.faq-question h1{
	font-size: 24px;
}

.faq-question p {
	font-size: 18px;
}



#city {
	position: fixed;
	margin-left: -35%;
	padding: 8px 12px;
	font-size: 13px;
	margin-top: 8px;
	z-index: 3;
	border-radius: 3px;
	border: 1px solid #e5e5e5;
	background-color: #fff;
}






.cityTile {
	float: left;
	color: #fff;
	background-color:#f4f4f4;
	padding: 8% 2.2%;
	margin: 0%;
	height: 60px;
	width: 28.5%;
	border: 1px solid #fff;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	cursor: pointer;
	position: relative;
}

.cityTile h1 {
	padding-top: 20%;
}

.neighborhoods {
	width: 90%;
	margin: 0px auto;
	padding-top: 60px;
}

.neighborhoodTile {
	float: left;
	color: #fff;
	padding: 5% 2%;
	margin: 0%;
	height: 60px;
	width: 20.8%;
	border: 1px solid #fff;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	cursor: pointer;
	position: relative;
}

.neighborhoodTile h1 {
	padding-top: 15%;
}

.other {
	clear: both;
}

.options {
	width: 90%;
	clear: both;
	margin: 0px auto;
	padding-top: 60px;
}

.optionsTile {
	float: left;
	color: #fff;
	padding: 5% 2%;
	margin: 0%;
	height: 60px;
	width: 20.8%;
	border: 1px solid #fff;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	cursor: pointer;
	position: relative;
}

.optionsTile h1 {
	padding-top: 15%;
}

.results {
	width: 90%;
	clear: both;
	margin: 0px auto;
	padding-top: 60px;
}

.results-container {
	width: 45%;
	float: left;
}

.biz-card h3, p {
	margin: 3px;
}

.biz-card p {
	font-size: 13px;
}

.biz-card-rating {
	float: right;
	margin: 5px 10px 0px 0px;
}

.biz-card {
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	margin: 0px 5px 10px;
	text-align: left;
	padding: 5px;
}

.biz-card:hover {
	background-color: #f9f9f9;
}

.biz-card img {
	margin: 5px 5px;
	float: left;
	height: 91px;
}

#map-container {
	width: 48%;
	position: fixed;
	margin-left: 41%;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	height: 88%;
}

#map {
	height: 100%;
}

.infoWindow {
	width: 150px;
}

.infoWindow h3 {
	margin: 0px;
}

.IW-rating {
	float: left;
	margin: 5px 0px 0px;
	font-size: 12px;
	background-color: #f9f9f9;
	font-weight: bold;
	width: 45px;
	padding: 5px 0px;
	border-radius: 3px;
	text-align: center;
	border: 1px solid #e5e5e5;
}

.IW-yelpRating {
	text-align: center;
	background-color: #c41200;
	font-weight: bold;
	color: #fff;
	font-size: 12px;
	padding: 5px 0px;
	border-radius: 3px;
	width: 45px;
	float: left;
	margin: 5px 4px 0px;
	border: 1px solid #c41200;
}

.IW-foursquareRating {
	text-align: center;
	background-color: #00B551;
	font-weight: bold;
	color: #fff;
	font-size: 12px;
	padding: 5px 0px;
	border-radius: 3px;
	width: 45px;
	float: left;
	margin: 5px 0px 0px;
	border: 1px solid #00B551;
}

.yelpRating {
	text-align: center;
	background-color: #c41200;
	font-weight: bold;
	color: #fff;
	font-size: 12px;
	padding: 5px 0px;
	border-radius: 3px;
	width: 45px;
	float: right;
	margin: 39px 5px 0px 0px;
}

.yelpRating:hover {
	background-color: #890c00;
}

.foursquareRating {
	text-align: center;
	background-color: #00B551;
	font-weight: bold;
	color: #fff;
	font-size: 12px;
	padding: 5px 0px;
	border-radius: 3px;
	width: 45px;
	float: right;
	margin: 39px 0px 0px;
}

.foursquareRating:hover {
	background-color: #007e38;
}

.fa {
	margin-left: 5px;
}

.fa-search, .fa-building {
	margin-right: 5px;
}

.categories {
	margin: 5px;
	overflow: hidden;
	padding: 0px;
}

.categories li {
	list-style-type: none;
	float: left;
	background-color: #f9f9f9;
	margin-right: 4px;
	font-size: 11px;
	padding: 2px 3px;
	color: #000;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
}

.search-button {
	position: fixed;
	margin-left: -45%;
	padding: 8px;
	font-size: 13px;
	margin-top: 8px;
	z-index: 3;
	border-radius: 3px;
	border: 1px solid #e5e5e5;
	background-color: #fff;
}

.search-button:hover {
	background-color: #e5e5e5;	
}

.search-button-mobile {
	position: fixed;
	display: none;
	bottom: -5px;
	padding: 3% 0%;
	font-size: 16px;
	width: 100%;
	z-index: 3;
	border: none;
	border-bottom: 5px solid #f5f5f5;
	border-top: 1px solid #e5e5e5;
	background-color: #f5f5f5;
}

.search-button-mobile:hover {
	background-color: #e5e5e5;	
}

.loading-results {
	width: 100%;
	height: 100%;
	clear: both;
	background-color: #f9f9f9;
	margin: 0px auto;
	padding-top: 90px;
	z-index: 1;
	position: fixed;
}

.loading-results img {
	height: 40%;
	border: 1px solid #e5e5e5;
	border-radius: 200px;
}

.foodSearchBar {
	width: 100%;
	margin-bottom: 10px;
}

.foodSearchBar form {
	margin: 0px auto;
}

.foodSearchBar input {
	font-size: 24px;
	line-height: 30px;
	text-align: center;
	width: 100%;
	background-color: transparent;
	padding: 6px 0px;
	border: none;
	border-bottom: 1px solid black;
	outline: none;
}





/* --------------------------------------------------------------------------------
-------------------------------------- phone screens------------------------------
-----------------------------------------------------------------------------------*/


@media only screen and (max-width: 600px) {

.search-button {
	display: none;
}

#city {
	display: none;
}

nav h1 {
	font-size: 20px;
	padding-top: 12px;
}


.cities {
	width: 100%;
	padding-top: 51px;
}

.cityTile {
	width: 100%;
	padding: 15% 0%;
	border: none;
	border-bottom: 1px solid #fff;
	box-shadow: none;
}

.cityTile h1 {
	padding-top: 10%;
}

.neighborhoods {
	width: 100%;
	padding-top: 51px;
}

.neighborhoodTile {
	width: 100%;
	padding: 15% 0%;
	border: none;
	border-bottom: 1px solid #fff;
	box-shadow: none;
}

.neighborhoodTile h1 {
	padding-top: 10%;
}

.options {
	width: 100%;
	padding-top: 51px;
}

.optionsTile {
	width: 100%;
	padding: 15% 0%;
	border: none;
	border-bottom: 1px solid #fff;
	box-shadow: none;
}

.optionsTile h1 {
	padding-top: 10%;
}

.foodSearchBar {
	margin-bottom: 0px;
}

.results {
	width: 100%;
	padding-top: 51px;
	padding-bottom: 46px;
}

#map-container {
	display: none;
}

.results-container {
	width: 100%;
	float: none;
}

.biz-card {
	margin: 5px;
}

.biz-card img {
	height: 58px;
	border-radius: 10%;
	margin: 5px 5px 0px 0px;
}

.biz-card h3, p {
	font-size: 1.0em;
	margin: 2px 3px;
}

.categories {
	padding: 0px;
	margin: 5px 5px 0px 0px;
}

.categories li {
	font-size: 10px;
}

.yelpRating, .foursquareRating {
	margin-top: 37px;
}

.search-button-mobile {
	display: block;
}

}

